[user]
    email = twono.dev@gmail.com
    name = twono
[credential]
    helper = store
[core]
    editor = vim
    autocrlf = false
    eol = lf
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    addmod = add -u
    addtolastcommit = commit --amend --no-edit
    fixup = commit --fixup
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~1
    pushhard = push --force-with-lease
    last = log -1 HEAD
    head = log --graph --oneline --decorate -n 10
    lg = log --graph --oneline --decorate
[pull]
    ff = only
[push]
    autoSetupRemote = true
[rebase]
    autosquash = true
[submodule]
    recurse = true
[diff]
    submodule = log
